* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    :root {
    --light-blue:#17a3b8;
   
    }

    body{
        background-color:black;
        font-family: 'Cabin', sans-serif;
    }

/*style navbar*/

    .logo{
        width: 2rem;
        margin-right: 5px;
    }

    .navbar{
    background-color: var(--light-blue);
    }

    /*style header carousel*/

    .img-carousel{
         height: auto;
    }

    /*style header*/

    .about-tittle{
        margin-bottom: 25px;
    }

    .about-line{
        color: var(--light-blue);
    }

    /*style main*/
    .icons-main{
        background-color: var(--light-blue);

    }

    .paragraph {
        font-weight: 400;
    }

