* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    :root {
    --light-blue:#17a3b8;
   
    }

    body{
        background-color:black;
        font-family: 'Cabin', sans-serif;
    }

/*style navbar*/

    .logo{
        width: 2rem;
        margin-right: 5px;
    }

    .navbar{
    background-color: var(--light-blue);
    }

    /*style header carousel*/

    .img-carousel{
         height: auto;
    }

    /*style header*/

    .about-tittle{
        margin-bottom: 25px;
        font-size: 42px;
    }

    .about-line{
        color: var(--light-blue);
    }

    /*style main*/
    .icons-main{
        background-color: var(--light-blue);
        padding-left: 152px;
        padding-right:152px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .paragraph {
        font-weight: 400;
        max-width: 350px;
    }

   /*style featured*/

   .featured-card{
       max-width: 238px;
   }

   .featured-tittle{
    margin-top: 100px;
    font-size: 42px;
   }

   .featured-line{
    color: var(--light-blue);
    margin-bottom: 2rem;
   }

   .card-body{
       background-color: var(--light-blue);
       color: white;
    
   }

   .card-tittle{
       font-size: 20px;
   }

   .card-text{
       font-size: 14px;
   }









    /*style contact*/ 
    /*
    .contact-line {
        color: var(--light-blue);
    }

    .contact{
        margin-top: 8rem;
    } */